<div class="card text-small">
  <div class="card-header py-2 px-8 show-xs show-sm" onclick="toggle('menu-authors')">
    <div class="card-title h6">Authors</div>
  </div>
  <ul id="menu-authors" class="menu hide-xs hide-sm">
    <li class="divider hide-xs hide-sm" data-content="Authors"></li>
    <div class="columns">
      @{foreach author in DEF.authors}
        <div class="column col-6">
          <li class="menu-item">
            <a class="@{isActive(repository, author.slug)} text-ellipsis" href="/directory?author=@{author.slug}">
              <i class="icofont-ui-user"></i> @{author.name}
            </a>
          </li>
        </div>
      @{end}
    </div>
  </ul>
</div>
