<div class="column col-xs-12 col-6 bookmark-tile">
  <div class="columns">
    <div class="column col-xs-4 col-3">
      <img src="@{model.manga.capa}" alt="" />
    </div>
    <div class="column col-xs-8 col-9 content">
      <p class="title text-ellipsis mb-2">
        <a href="/manga/@{model.manga.slug}" class="text-primary">@{model.manga.title}</a>
      </p>
      @{if model.manga.lastChapter !== null}
        <p class="mb-1">
          <a
            href="/manga/@{model.manga.slug}/read/@{model.manga.lastChapter.slug}"
            class="text-dark"
          >
            Last Chapter: @{model.manga.lastChapter.number}
          </a>
        </p>
        @{if model.manga.lastRead !== null}
          <p class="mb-1">
            <a
              href="/manga/@{model.manga.slug}/read/chapter-@{slugify(model.manga.lastRead)}"
              class="@{Number(model.manga.lastRead) !== Number(model.manga.lastChapter.number) ? 'text-warning' : 'text-dark'}"
            >
              Last Read: @{model.manga.lastRead}
            </a>
          </p>
        @{else}
        <p class="mb-1">
          <a
            href="/manga/@{model.manga.slug}/read/@{model.manga.nextChapter.slug}"
            class="text-warning"
          >
            Start Reading: @{model.manga.nextChapter.number}
          </a>
        </p>
        @{fi}
      @{fi}
    </div>
  </div>
</div>
