<div class="card text-small">
  <div class="card-header py-2 px-8 show-xs show-sm" onclick="toggle('menu-genres')">
    <div class="card-title h6">Genres</div>
  </div>
  <ul id="menu-genres" class="menu hide-xs hide-sm">
    <li class="divider hide-xs hide-sm" data-content="Genres"></li>
    <div class="columns">
      @{foreach genre in DEF.genres}
      <div class="column col-6">
        <li class="menu-item">
          <a class="@{isActive(repository, genre.slug)} text-ellipsis" href="/directory?genre=@{genre.slug}">
            <i class="icofont-ui-tag"></i> @{genre.name}
          </a>
        </li>
      </div>
    @{end}
    </div>
  </ul>
</div>
