<div class="card header">
  <div class="card-body text-center">
    <div class="logo">
      <img src="/icon.png" alt="Mangastar">
      <h2><a href="/">@{CONF.name}</a></h2>
    </div>
    <form action="/directory" method="get">
      <div class="input-group">
        <input class="form-input" type="search" name="q" placeholder="Search" autocomplete="off"/>
        <button class="btn btn-primary input-group-btn" type="submit">
          <i class="icofont-ui-search"></i>
        </button>
      </div>
    </form>
  </div>
</div>