<div class="column col-xs-12 col-6 manga-tile">
  <div class="columns">
    <div class="column col-xs-4 col-3">
      <img src="@{model.manga.capa}" alt="" />
    </div>
    <div class="column col-xs-8 col-9 content">
      <p class="title text-ellipsis">
        <a href="/manga/@{model.manga.slug}">@{model.manga.title}</a>
      </p>
      <p class="text-gray authors">
        @{authors(model.manga.authors)}
      </p>
      <div class="chapters">
        @{foreach chapter in model.manga.chapters}
        <div class="chapter">
          <a
            href="/manga/@{model.manga.slug}/read/@{chapter.slug}"
            class="d-block"
            >Chapter: @{chapter.number}</a
          >
          <span class="text-gray">@{fromNow(chapter.created)}</span>
        </div>
        @{end}
      </div>
    </div>
  </div>
</div>
