<div class="card text-small">
  <div class="card-header py-2 px-8 show-xs show-sm" onclick="toggle('menu-menu')">
    <div class="card-title h6">Menu</div>
  </div>
  <ul id="menu-menu" class="menu hide-xs hide-sm">
    <li class="divider hide-xs hide-sm" data-content="Menu"></li>
    <li class="menu-item">
      <a class="@{isActive(repository, 'home')}" href="/"><i class="icofont-ui-home"></i> Home</a>
    </li>
    <li class="menu-item">
      <a class="@{isActive(repository, 'directory')}" href="/directory"><i class="icofont-ui-folder"></i> Directory</a>
    </li>
    <li class="menu-item">
      <a class="@{isActive(repository, 'popular')}" href="/directory?order=popular"><i class="icofont-ui-love-add"></i> Popular</a>
    </li>
    <li class="menu-item">
      <a class="@{isActive(repository, 'latest')}" href="/directory?order=latest"><i class="icofont-ui-rotation"></i> Updates</a>
    </li>
    <li class="menu-item">
      <a class="@{isActive(repository, 'new')}" href="/directory?order=new"><i class="icofont-ui-add"></i> New</a>
    </li>
    @{if !user}
    <li class="menu-item">
      <a class="c-hand" onclick="toggleModal('modal-login')"><i class="icofont-login"></i> Sign In</a>
    </li>
    <li class="menu-item">
      <a class="c-hand" onclick="toggleModal('modal-register')"><i class="icofont-login"></i> Sign Up</a>
    </li>    
    @{fi}
  </ul>
</div>

<div class="modal modal-sm login" id="modal-login">
  <a class="modal-overlay" aria-label="Close" onclick="toggleModal('modal-login')"></a>
  <div class="modal-container">
    <div class="modal-body">
      <div class="content">
        <div class="logo text-center">
          <img src="/icon.png" alt="MangaStar">
        </div>
        <div id="modal-login-toast" class="toast mb-2" style="display: none;"></div>
        <div class="form">
          <form onsubmit="formLoginSubmit(event, this)">
            <div class="form-group">
              <div class="has-icon-left">
                <input type="text" class="form-input" name="username" placeholder="username, 6 characters" pattern=".{6,}" required autocomplete="off">
                <i class="form-icon icofont-ui-user"></i>
              </div>
            </div>
            <div class="form-group">
              <div class="has-icon-left">
                <input type="password" class="form-input" name="password" placeholder="password, 6 characters" pattern=".{6,}" required autocomplete="off">
                <i class="form-icon icofont-ui-lock"></i>
              </div>
            </div>
            <div class="form-group text-right mt-2 pt-2">
              <button type="reset" class="btn btn-primary mr-2" onclick="toggleModal('modal-login')">Close</button>
              <button type="submit" class="btn btn-primary ml-2">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-sm register" id="modal-register">
  <a class="modal-overlay" aria-label="Close" onclick="toggleModal('modal-register')"></a>
  <div class="modal-container">
    <div class="modal-body">
      <div class="content">
        <div class="logo text-center">
          <img src="/icon.png" alt="MangaStar">
        </div>
        <div id="modal-register-toast" class="toast mb-2" style="display: none;"></div>
        <div class="form">
          <form onsubmit="formRegisterSubmit(event, this)">
            <div class="form-group">
              <div class="has-icon-left">
                <input type="text" class="form-input" name="username" placeholder="username, 6 characters" pattern=".{6,}" required autocomplete="off">
                <i class="form-icon icofont-ui-user"></i>
              </div>
            </div>
            <div class="form-group">
              <div class="has-icon-left">
                <input type="password" class="form-input" name="password" placeholder="password, 6 characters" pattern=".{6,}" required autocomplete="off">
                <i class="form-icon icofont-ui-lock"></i>
              </div>
            </div>
            <div class="form-group">
              <div class="has-icon-left">
                <input type="text" class="form-input" name="displayname" placeholder="display name, 6 characters" pattern=".{6,}" required autocomplete="off">
                <i class="form-icon icofont-chat"></i>
              </div>
            </div>
            <div class="form-group">
              <div class="has-icon-left">
                <input type="email" class="form-input" name="email" placeholder="email" required autocomplete="off">
                <i class="form-icon icofont-ui-email"></i>
              </div>
            </div>
            <div class="form-group text-right mt-2 pt-2">
              <button type="reset" class="btn btn-primary mr-2" onclick="toggleModal('modal-register')">Close</button>
              <button type="submit" class="btn btn-primary ml-2">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>