<div class="card text-small">
  <div
    class="card-header py-2 px-8 show-xs show-sm"
    onclick="toggle('menu-status')"
  >
    <div class="card-title h6">Status</div>
  </div>
  <ul id="menu-status" class="menu hide-xs hide-sm">
    <li class="divider hide-xs hide-sm" data-content="Status"></li>
    <div class="columns">
      <div class="column">
        <li class="menu-item">
          <a
            class="@{isActive(repository, 'completed')}"
            href="/directory?status=completed"
          >
            <i class="icofont-ui-check"></i> Completed</a
          >
        </li>
      </div>
      <div class="column">
        <li class="menu-item">
          <a
            class="@{isActive(repository, 'ongoing')}"
            href="/directory?status=ongoing"
          >
            <i class="icofont-ui-clock"></i> Ongoing</a
          >
        </li>
      </div>
    </div>
  </ul>
</div>
