<div class="card text-small">
  <ul class="menu">
    <li class="menu-item" onclick="toggle('menu-user')">
      <div class="tile tile-centered">
        <div class="tile-icon">
          <img
            class="avatar"
            src="https://picturepan2.github.io/spectre/img/avatar-4.png"
            alt="Avatar"
          />
        </div>
        <div class="tile-content">Hi, <b>@{user.displayname}</b></div>
      </div>
    </li>
    <div id="menu-user" class="hide-xs hide-sm">
      <li class="divider"></li>
      <li class="menu-item">
        <a href="/bookmarks"
          ><i class="icofont-star"></i> Bookmark</a
        >
        <div class="menu-badge">
          <label class="label label-primary">0</label>
        </div>
      </li>
      <li class="menu-item">
        <a href="/logout"><i class="icofont-logout"></i> Logout</a>
      </li>
    </div>
  </ul>
</div>
