@{meta("{0} Bookmarks".format(user.displayname))}

<div class="card">
  @{if model.bookmarks.length > 0}
  <div class="card-header">
    <h1 class="card-title h4">My Bookmarks</h1>
  </div>
  <div class="card-body">
    <div class="columns">
      @{foreach manga in model.bookmarks}
        @{view('~views/bookmark', { manga })}
      @{end}
    </div>
  </div>
  @{else}
  <div class="empty">
    <p class="empty-title h5">Oops...</p>
    <p class="empty-subtitle">Nothing here for now...</p>
    <div class="empty-action">
      <a class="btn btn-primary" href="/">Back to home</a>
    </div>
  </div>
  @{fi}
</div>
