@{meta("Manga {0}".format(model.manga.title),
CONF.details_description.format(model.manga.title), CONF.meta_keywords)}

<div class="card details">
  <div class="card-header">
    <h1 class="card-title h4">Manga @{model.manga.title}</h1>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="columns">
        <div class="column col-xs-12 col-3">
          <img src="@{model.manga.capa}" alt="" />
        </div>
        <div class="column col-xs-12 col-9">
          <table class="table">
            <tr>
              <td>Name:</td>
              <td><b>@{model.manga.title}</b></td>
            </tr>
            <tr>
              <td>Authors:</td>
              <td>@{authorsLink(model.manga.authors)}</td>
            </tr>
            <tr>
              <td>Genres:</td>
              <td>@{genresLink(model.manga.genres)}</td>
            </tr>
            <tr>
              <td>Updated:</td>
              <td>@{new Date(model.manga.updated).format('dd MMMM yyyy')}</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="columns">
                  <div class="column col-xs-12 col-6">
                    @{if user && user.bookmarks.map(x => x.manga_id).includes(model.manga._id)}
                    <button class="btn btn-primary" onclick="unBookmarkManga('@{model.manga._key}', this)">
                      <i class="icofont-star"></i> Bookmark
                    </button>
                    @{else}
                    <button class="btn" onclick="bookmarkManga('@{model.manga._key}', this)">
                      <i class="icofont-star"></i> Bookmark
                    </button>
                    @{fi}
                    @{if model.manga.chapters.length > 0}
                    <a
                      class="btn btn-primary ml-2"
                      href="/manga/@{model.manga.slug}/read/@{model.manga.chapters.last().slug}"
                      >Start Reading</a
                    >
                    @{fi}
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card summary">
  <div class="card-body">
    <b>Summary:</b> <br />
    <p class="mb-0 mt-1">@{!model.manga.summary}</p>
  </div>
</div>

<div class="card chapters-list">
  <div class="card-header">
    <div class="card-title">
      <div class="h4">Chapters</div>
      <button class="btn btn-sm btn-primary" onclick="reverseChapters()">
        <i class="icofont-sort"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="container" style="max-height: 400px; overflow-y: auto">
      <div id="chapter-list" class="columns">
        @{foreach chapter in model.manga.chapters}
        <div class="column col-xs-6 col-lg-3 col-2">
          <div class="chapter">
            <a
              href="/manga/@{model.manga.slug}/read/@{chapter.slug}"
              class="link"
              >Chapter @{chapter.number}</a
            >
            <p class="text-small text-gray">@{fromNow(chapter.created)}</p>
          </div>
        </div>
        @{end}
      </div>
    </div>
  </div>
</div>
