@{meta(model.title, CONF.directory_description, CONF.meta_keywords)}

<div class="card">
  @{if model.mangas.length > 0}
  <div class="card-header">
    <h1 class="card-title h4">@{model.title}</h1>
  </div>
  <div class="card-body">
    <div class="columns">
      @{foreach manga in model.mangas}
        @{view('views/manga', { manga })}
      @{end}
    </div>
  </div>
  <div class="container">
    <ul class="pagination">
      @{if model.pagination.isPrev}
      <li class="page-item page-prev">
        <a
          href="@{QUERIFY('/directory', {...model.q, page: model.pagination.prevPage})}"
        >
          <div class="page-item-title h6">Previous Page</div>
        </a>
      </li>
      @{fi}
      @{if model.pagination.isNext}
      <li class="page-item page-next">
        <a
          href="@{QUERIFY('/directory', {...model.q, page: model.pagination.page + 1})}"
        >
          <div class="page-item-title h6">Next Page</div>
        </a>
      </li>
      @{fi}
    </ul>
  </div>
  @{else}
  <div class="empty">
    <p class="empty-title h5">Oops...</p>
    <p class="empty-subtitle">Nothing here for now...</p>
    <div class="empty-action">
      <a class="btn btn-primary" href="/">Back to home</a>
    </div>
  </div>
  @{fi}
</div>
