@{meta('Read Manga Online', CONF.meta_description, CONF.meta_keywords)}

<div class="card">
  @{if model.updates.length > 0}
  <div class="card-header">
    <h1 class="card-title h4">Latest Updates</h1>
  </div>
  <div class="card-body">
    <div class="columns">
      @{foreach manga in model.updates}
        @{view('views/manga', { manga })}
      @{end}
    </div>
  </div>
  @{else}
  <div class="empty">
    <p class="empty-title h5">Oops...</p>
    <p class="empty-subtitle">Nothing here for now...</p>
  </div>
  @{fi}
</div>
