html,
body {
  background-color: #f5f5ff;
}

.main {
  padding-top: 12px;
  padding-bottom: 12px;
}

.card {
  margin-bottom: 16px;
}

.header img {
  border: none;
  padding: 0;
  width: 17%;
  margin-bottom: -10px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.side-bar .menu {
  border-radius: 0;
  box-shadow: none;
  transform: none;
}

.side-bar .menu i {
  margin-right: 5px;
}

img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  padding: 1px;
}

.manga-tile .title {
  margin-bottom: 10px;
}

.manga-tile .authors {
  font-size: small;
  margin-bottom: 0;
}

.manga-tile .chapter {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.details img {
  width: 100%;
}

.read-chapter .card-body {
  padding-left: 0;
  padding-right: 0;
}

.read-chapter img {
  width: 100%;
  height: auto;
  border: none;
  padding: 0;
  margin: 0;
}

.chapters-list .card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle {
  display: flex;
  align-items: center;
}

.modal.login img,
.modal.register img {
  border: none;
  margin: 25px 25px;
  width: 25%;
}